/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-grey: rgba(0, 0, 0, 0.2);

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-red: #ff0000c7;
  --vt-c-indigo: #2c3e50;
  --vt-c-greenish: #00bd7e;
  --vt-c-lavend: hsla(160, 100%, 37%, 0.2);
}

:root {
  --color-background: var(--vt-c-white);

  --color-border: var(--vt-c-black-soft);
  
  --color-text: var(--vt-c-indigo);
  --color-text-error: var(--vt-c-red);

  --color-accent: var(--vt-c-greenish);
  --color-accent--hover: var(--vt-c-lavend);

  --color-progress-bar: var(--vt-c-greenish);
  --color-progress-bar-shadow: var(--vt-c-grey);
  
  --color-notselected-option-border: var(--vt-c-grey);
  --color-selected-option-border: var(--vt-c-indigo);
  --color-correct-option-background: var(--vt-c-greenish);
  --color-incorrect-option-background: var(--vt-c-red);

  --color-button-border: var(--vt-c-black-soft);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
